<!--<mat-tab-group   mat-align-tabs="center" mat-stretch-tabs animationDuration="2000ms">
  <mat-tab label="Tasks"> Tasks </mat-tab>
  <mat-tab label="Sign in"> 
    <div>

    </div> </mat-tab>
  <mat-tab label="Sign up"> Sign up</mat-tab>
</mat-tab-group>
-->
<ng-container *ngIf="!authservice.logdegIn();else loggedIn">
  <nav mat-tab-nav-bar mat-stretch-tabs animationDuration="2000ms">
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">{{link.label}}
    </a>
  </nav>
</ng-container>
<ng-template #loggedIn>
  <ng-container>
    <nav mat-tab-nav-bar mat-stretch-tabs animationDuration="2000ms">
      <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">{{link.label}}
      </a>
      <a mat-tab-link (click)="authservice.logOut()">Log out</a>
    </nav>
  </ng-container>
</ng-template>


<div class="container p-5">
  <router-outlet></router-outlet>
</div>