<div class="container">

    <div class="column left">
        <mat-card class="mat-elevation-z5">
            <mat-card-header>
                <mat-card-title>
                    Que falta?
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form (submit)='postListaCompra()'>
                    <div class="flex-row ">
                        <mat-form-field appearance="outline">
                            <mat-label>Producto</mat-label>
                            <input matInput matInput name="Producto" [(ngModel)]="producto.Producto" placeholder="Esparragos">
                            <mat-hint>Solo atún</mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Marca</mat-label>
                            <input matInput name="Marca" [(ngModel)]="producto.Marca" placeholder="Carretilla">
                            <mat-hint>Marca Eroski siempre</mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Cantidad</mat-label>
                            <input matInput name="Cantidad" [(ngModel)]="producto.Cantidad" placeholder="12">
                            <mat-hint>Cuantos hay que comprar</mat-hint>
                        </mat-form-field>
    
                        <button class="submit" mat-raised-button color="primary" type="submit">Añadir</button>
    
                    </div>
                </form>
            </mat-card-content>
        </mat-card>


    </div>
    <div class="column right">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z5">

            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="Producto">
                <th mat-header-cell *matHeaderCellDef> Producto </th>
                <td mat-cell *matCellDef="let element"> {{element.Producto}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Marca">
                <th mat-header-cell *matHeaderCellDef> Marca </th>
                <td mat-cell *matCellDef="let element"> {{element.Marca}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Cantidad">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.Cantidad}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Check">
                <th mat-header-cell *matHeaderCellDef> Check </th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-radio-group [(ngModel)]="lista"  (change)="radioSelected()">
                        <mat-radio-button  value={{lista.Check}}>{{lista.Check}}</mat-radio-button>
                      </mat-radio-group>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef=" displayedColumns">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>


</div>